[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
jinja2 = "*"
aiofiles = "*"
python-dotenv = "*"
pydantic = {extras = ["email"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = "*"
python-multipart = "*"
psycopg2-binary = "*"
fastapi-mail = "*"
sqlalchemy = "*"

[dev-packages]
flake8 = "*"
isort = "*"
black = "*"
pre-commit = "*"
pytest = "*"
httpx = "*"
requests = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
